@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: #f7ede2;
}

/*! Tarjetas de productos*/
.container__carts{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.carts__foto{
  width: 100%;
  height: 300px;
  border-radius: 10px 3px 10px 3px;
  clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);

}

.card__container{
    background:rgb(188, 0, 45);
    color: #f8f8f8;
    border-radius: 10px 4px 10px 4px;
    width: 400px;
    font-family: "Kanit", sans-serif;
    font-size: 1.08rem;
}

.btn__cart{
  background: #000;
  color: #f5f5f5;
  width: 90%;
  transition: border ease 0.4s;
}
.btn__cart:hover{
  border: 1px solid rgb(188, 0, 45);
}
.bandera{
  width: 38px;
  height: 38px;
}
.modelo{
  display: flex;
  align-items: center;
  gap: 5px;
}
.space{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px;
}
.container__btn{
  font-family: "Kanit", sans-serif;
  display: flex;
  justify-content: center;
  padding: 20px;
}
.container__detail{
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo__detail{
  width: 38px;
  height: 38px;
}
.btn__detail{
  color: #f5f5f5;
  background: #000;
  padding: 10px 30px;
  border-radius: 10px;
}
/*TODO Navbar*/

.title__container{
  width: 100%;
  background-image: url("/gr.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 170px;
}

.title{
  font-family: "Kanit", sans-serif;
  font-size: 3.5rem;
  background: rgb(188, 0, 45) ;
  display: inline-block;
  justify-content: center;
  padding: 10px 60px;
  border-radius: 10px;
  color: #f5f5f5;
}
.container__Navbar{
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  background: rgb(188, 0, 45);
  display: flex;
  justify-content: end;
  gap: 12px;
}

.menu{
  color: #f5f5f5;
  background: #000;
  padding: 8px 12px;
  border-radius: 5px;
}
.menu:hover{
  color: #f7ede2;
}

.logged {
  color: #000;
  background: #f5f5f5;
}

.container__general-carrito{
  display: flex;
  justify-content: center;
  padding: 30px;
  flex-wrap: wrap;
  gap: 20px;
}

.cart__carrito{
    border-radius: 15px;
    width: 740px;
    height: 260px;
    background: rgb(188, 0, 45);
    position: relative;
    display: flex;

    align-items: center;
    gap: 40px;
  }

.cart__foto{
    width: 50%;
    height: 100%;
    border-radius: 15px;
}

.cart__container-text{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.cart__font-style{
  font-family: "Kanit", sans-serif;
  color: #f7ede2;
}
.cart__title-carrito{
  font-size:2.5rem;
  border-bottom: 2px solid #f5f5f5;
}

.cart__price-carrito{
  font-size:1.2rem;
}
.container__global-carrito{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.ticket__container{
  background: rgb(188, 0, 45);
  padding: 60px;
  border-radius: 15px;
  margin: 200px;
}

.ticket__title{
    font-size: 1.8rem;
    text-align: center;
    padding: 5px;
    border-bottom: 2px solid #f5f5f5;
}
.valor{
  padding-top: 8px;
  font-size: 1.2rem;
}
.btn-final{
  margin-top:10px;
  font-size: 1.1rem;
}

.noProducts{
  background: rgb(188, 0, 45);
  padding: 80px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 15px;
}
.carrito-vacio{
  font-size: 2rem;
}
.link-catalogo{
  font-size: 2rem;
  background: #000;
  padding: 15px;
  border-radius: 10px;
  border-bottom: 3px solid #f7ede2;
  border-right: 3px solid #f7ede2;
  color: #f5f5f5;
}
.box-modal{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.close{
  display: flex;
  justify-content: end;
  color: #f5f5f5;
  margin: 16px;
}
.modal__content{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-size: 1.2rem;
}
.btn-perfil{
  background: #000;
  padding:15px 20px;
  border-radius: 10px;
}

.modal{
  border-radius: 10px;
  border-left:5px solid #000;
  border-bottom:6px solid #000 ;
  position: absolute;
  z-index: 1;
  width: 240px;
  height: 300px;
  background:rgb(188, 0, 45) ;
}
.icon-close{
  width: 28px;
  height: 28px;
  cursor: pointer;
}
.icon-perfil{
  width: 38px;
  height: 38px;
  border-radius: 10px;
}
.box-perfil {
  display: flex;
  align-items: center;
  gap: 10px;
}
.container__perfil{
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}
.container__cart-perfil{
  margin: 20px;
  background:rgb(188, 0, 45);
  padding: 60px;
  border-radius: 10px;
}
.foto__perfil{
  border-radius: 10px;
  width: 400px;
  height: 300px;
}

.perfil__title{
  font-size: 4rem;
  padding-bottom: 30px;
}
.perfil__description{
  font-size: 2rem;
  padding-bottom: 24px;
}

.link-login{
  width: 40%;
  font-size: 1.5rem;
  background: #000;
  padding: 15px;
  border-radius: 10px;
  border-bottom: 3px solid #f7ede2;
  border-right: 3px solid #f7ede2;
  color: #f5f5f5;
}
.container__login{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.container__global-form{
  background:rgb(188, 0, 45);
  padding: 80px 60px;
  border-radius: 15px;
}
.group__form{
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.group__name{
  font-size: 1.4rem;
  color: #f7ede2;
  font-family: "Kanit", sans-serif;
  padding-bottom: 10px;
}

.group__input{
  padding: 5px;
  border-radius: 10px;
  border: 2px solid #000;
  box-shadow: -1px 3px 2px 0 #000;
  outline: none;
}

.btn-container{
  width: 100%;
  display: flex;
  justify-content: center;
}
.btn-login{
  font-size: 1.1rem;
  padding: 12px 70px;
  font-family: "Kanit", sans-serif;
  color: #f5f5f5;
  transition: all 0.3s;
}
.btn-login:hover{
  border: 2px solid #ea0101;
}

.register-text{
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
}
.register__link{
  color: #f5f5f5;
  font-family: "Kanit", sans-serif;
  font-size: 1.1rem;
  border-bottom: 2px solid #f5f5f5;
}

.container__register{
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 40px;
}

.container__register-form{
  background:rgb(188, 0, 45);
  padding: 40px;
  border-radius: 10px;
}
.group__register{
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.group__text-register{
  color: #f5f5f5;
  font-family: "Kanit", sans-serif;
  font-size: 1.3rem;
  padding-bottom:10px ;
}
.group__input-register{
  padding: 5px;
  border-radius: 6px;
}
.container__detail-component{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.container__card-detail{
  background:rgb(188, 0, 45);
  padding: 30px;
  margin: 30px;
  border-radius: 10px;
}
.detail__foto{
  border-radius: 10px;
  width: 600px;
  height: 450px;
  border-bottom:4px solid #000;
  border-left:3px solid #000;

}
.detail__model{
  color: #f5f5f5;
  font-family: "Kanit", sans-serif;
  font-size: 3rem;
  padding-bottom: 5px;
}
.detail__caracteristica{
  width:30%;
  color: #f5f5f5;
  font-family: "Kanit", sans-serif;
  font-size: 1.6rem;
  border-bottom:2px solid #f5f5f5;
}
.detail__caracteristica-detalle{
  padding-top: 4px;
  font-family: "Kanit", sans-serif;
  color: #f7ede2;
  font-size: 1.3rem;
}

.container__price-detail{
  background:rgb(188, 0, 45);
  padding: 80px 30px;
  border-radius: 5px;
}
.container__price-title{
  font-family: "Kanit", sans-serif;
  color: #f7ede2;
  font-size: 1.3rem;
  text-align: center;
  border-bottom: 2px solid #f5f5f5;
  margin: 10px;
}
.container__price-number{
  font-family: "Kanit", sans-serif;
  color: #f7ede2;
  font-size: 1.2rem;
  padding-bottom: 20px;
}

.btn__price{
  font-family: "Kanit", sans-serif;
  background: #000;
  color: #f7ede2;
  padding: 10px;
  border-radius: 10px;
}
.btn-manager{
  font-size: 1.1rem;
  padding: 12px 45px;
  border-radius: 10px;
  background: #000;
  font-family: "Kanit", sans-serif;
  color: #f5f5f5;
}
/*! crud completo*/

.btn-crud{
  color: #f7ede2;
}
.container__crud-get{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 20px;
}
.container__get-content{
  background:rgb(188, 0, 45);
  padding: 20px 20px;
  border-radius: 10px;
}
.container__crud-title{
  font-family: "Kanit", sans-serif;
  color: #f5f5f5;
  font-size: 2rem;
  padding-bottom: 20px;
}
.container__crud-price{
  font-family: "Kanit", sans-serif;
  color: #f5f5f5;
  font-size: 1.4rem;
}
.crud__image{
  width: 400px;
  height: 300px;
  border-radius: 10px;
}